apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ .Values.name }}-deployment
  namespace: {{ .Values.namespace }}
  labels:
    role: git2consul

spec:
  selector:
    matchLabels:
      pod: git2consul

  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      name: {{ .Values.name }}-pod
      labels:
        pod: git2consul

    spec:
      containers:
      - name: {{ .Values.name }}
        image: {{ .Values.img }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        args: ["-config", "$(GIT2CONSUL_CONFIG)"]
        env:
        - name: GIT2CONSUL_CONFIG
          value: |
            {
                "local_store": "/tmp/git2consul",
                "repos" : [
                    {
                        "name" : "base",
                        "url" : "ssh://github.com/LambertTran/config-workspace.git",
                        "branches" : ["master"],
                        "source_root": "/base/",
                        "mount_point": "base/",
                        "skip_repo_name": true,
                        "skip_branch_name": true,
                        "expand_keys": true,
                        "hooks": [{
                            "type": "polling",
                            "interval": 30
                        }],
                        "credentials": {
                            "private_key": {
                                "pk_key": "/root/.ssh/lb_dev",
                                "pk_username": "git"
                            }
                        }
                    },
                    {
                        "name" : "prod-base",
                        "url" : "ssh://github.com/LambertTran/config-workspace.git",
                        "branches" : ["master"],
                        "source_root": "/base/",
                        "mount_point": "prod/",
                        "skip_repo_name": true,
                        "skip_branch_name": true,
                        "expand_keys": true,
                        "hooks": [{
                            "type": "polling",
                            "interval": 30
                        }],
                        "credentials": {
                            "private_key": {
                                "pk_key": "/root/.ssh/lb_dev",
                                "pk_username": "git"
                            }
                        }
                    },
                    {
                        "name" : "prod",
                        "url" : "ssh://github.com/LambertTran/config-workspace.git",
                        "branches" : ["master"],
                        "source_root": "/prod/",
                        "mount_point": "prod/",
                        "skip_repo_name": true,
                        "skip_branch_name": true,
                        "expand_keys": true,
                        "hooks": [{
                            "type": "polling",
                            "interval": 30
                        }],
                        "credentials": {
                            "private_key": {
                                "pk_key": "/root/.ssh/lb_dev",
                                "pk_username": "git"
                            }
                        }
                    }
                ],
                "consul": {
                    "address": "consul:8500"
                }
            }


      # consul agent - service discovery
      - name: {{ .Values.name }}-consul-agent
        image: consul
        imagePullPolicy: {{ .Values.pullPolicy }}
        env:
        - name: "GOSSIP_KEY"
          valueFrom:
            secretKeyRef:
              name: consul-join-key
              key: consul_key
        - name: CONSUL_LOCAL_CONFIG
          value: |
            {
                "service": {
                    "name": "git2consul",
                    "tags": [
                        "config-cluster"
                    ],
                    "port": 22
                }
            }
        args: ["agent", "-join", "consul", "-encrypt", "$(GOSSIP_KEY)"]
