---
apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ .Values.name }}-deployment
  namespace: {{ .Values.namespace }}
  labels:
    role: git2consul

spec:
  selector:
    matchLabels:
      pod: git2consul

  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      name: {{ .Values.name }}-pod
      labels:
        pod: git2consul

    spec:
      containers:
      # git2consul
      - name: {{ .Values.name }}
        image: {{ .Values.img }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        env:
        - name: SSH_KNOWN_HOSTS
          value: /workdir/known_hosts
        args: ["-config", "/workdir/config.json"]
        volumeMounts:
        - name: workdir
          mountPath: "/workdir"

      # consul agent - service discovery
      - name: consul-agent
        image: consul
        imagePullPolicy: {{ .Values.pullPolicy }}
        # need GOSSIP_KEY to join consul cluster
        volumeMounts:
        - name: workdir
          mountPath: "/workdir"
        env:
        - name: "GOSSIP_KEY"
          valueFrom:
            secretKeyRef:
              name: consul-join-key
              key: consul_key
        - name: CONSUL_LOCAL_CONFIG
          value: |
            {
                "service": {
                    "name": "git2consul",
                    "tags": [
                        "config-cluster"
                    ],
                    "port": 22
                }
            }
        args: ["agent", "-join", "consul", "-encrypt", "$(GOSSIP_KEY)"]

      initContainers:
      - name: scan-github
        image: centos
        command: ["/bin/sh"]
        args: ["-c","yum install openssh-clients -y; ssh-keyscan github.com > /workdir/known_hosts; echo \"$SSH_KEY\" > /workdir/lb_dev"]
        volumeMounts:
        - name: workdir
          mountPath: "/workdir"
        env:
        - name: "SSH_KEY"
          valueFrom:
            secretKeyRef:
              name: ssh-key
              key: lb_dev

      - name: get-config
        image: busybox
        command: ["/bin/sh"]
        args: ["-c","echo $GIT2CONSUL_CONFIG > /workdir/config.json"]
        volumeMounts:
        - name: workdir
          mountPath: "/workdir"
        env:
        - name: GIT2CONSUL_CONFIG
          value: |
            {
                "local_store": "/tmp/git2consul",
                "repos" : [
                    {
                        "name" : "base",
                        "url" : "ssh://github.com/LambertTran/config-workspace.git",
                        "branches" : ["master"],
                        "source_root": "/base/",
                        "mount_point": "base/",
                        "skip_repo_name": true,
                        "skip_branch_name": true,
                        "expand_keys": true,
                        "hooks": [{
                            "type": "polling",
                            "interval": 30
                        }],
                        "credentials": {
                            "private_key": {
                                "pk_key": "/workdir/lb_dev",
                                "pk_username": "git"
                            }
                        }
                    }
                ],
                "consul": {
                    "address": "consul.lbtran.com:80"
                }
            }

      # Share directory between initContainers and runtimeContainers
      volumes:
      - name: workdir
        emptyDir: {}
